@import '../../style/variables';

.button {
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin: 25px auto;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    border-radius: $button-border-radius;

    transition: all .1s;

    i {
        transition: all .1s;
        font-size: 24px;
    }
}

.button:disabled {
    cursor: not-allowed;
    background-color: lighten($primary, 30);
}

.button.button-primary {
    background-color: $primary;
    color: $white;

    i { color: $white; }

    &:hover {
        background-color: $primary-hover;
        color: $white;

        i { color: $white; }
    }
}

.button.button-secondary {
    border: 1px solid $black;
    font-weight: 600;
    color: $black;

    i { color: $black; }

    &:hover {
        border-color: $secondary;
        color: $secondary;

        i { color: $secondary; }
    }
}

.button.small {
    width: $button-sm-width;
}

.button.medium {
    width: $button-m-width;
}

.button.large {
    width: $button-l-width;
}

.button.full {
    width: $button-full-width;
}

.button.question-button {
    height: 55px;
    font-size: 16px;
    box-shadow: $box-shadow;

    &:focus{
        box-shadow: 0 0 0 0.25rem rgba(35, 114, 233, 0.4);    
    }
}