@import '@/style/variables';

.button {
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin: 25px auto;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    border-radius: $button-border-radius;

    transition: all .1s;

    i {
        transition: all .1s;
        font-size: 24px;
        margin-left: 10px;
    }
}

.button:disabled {
    cursor: not-allowed;
    background-color: lighten($primary, 30);
}

.button-primary {
    background-color: $primary;
    color: $white;

    i { color: $white; }

    &:hover {
        background-color: $primary-hover;
        color: $white;

        i { color: $white; }
    }

    &:focus{
        box-shadow: 0 0 0 0.25rem rgba(35, 114, 233, 0.4);    
    }
}

.button-secondary {
    border: 1px solid $black;
    font-weight: 600;
    color: $black;

    i { color: $black; }

    &:hover {
        border-color: $secondary;
        color: $secondary;

        i { color: $secondary; }
    }
}

.button-danger {
    background-color: rgb(233, 35, 35);
    color: $white;
    font-weight: 600;

    i { color: $white; }

    &:hover {
        background-color: rgb(194, 25, 25);
    }

    &:focus{
        box-shadow: 0 0 0 0.25rem rgba(233, 35, 35, 0.4);    
    }
}

.small {
    width: $button-sm-width;
}

.medium {
    width: $button-m-width;
}

.large {
    width: $button-l-width;
}

.full {
    width: $button-full-width;
    padding: 5px 15px;
}