@import '@/style/variables';

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 50;

    width: 94vw;
    height: 90vh;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 16px 48px 0px;

    .content {
        height: 100%;
        padding: 20px;
        transition: all .2s;

        float: right;
        position: relative;
        overflow-y: scroll;
    }

    .content--aside-open {
        width: calc(100% - #{$aside-width-open});
    }

    .content--aside-closed {
        width: calc(100% - #{$aside-width-closed});
    }
}