$primary: rgb(63, 63, 250);
$primary-hover: rgb(43, 43, 138);

$secondary: #f46b45;

$white: #fff;
$black: #333;

$success: #06d143;
$warning: #f87e40;
$danger: #e52d27;

$aside-width-open: 176px;
$aside-width-closed: 72px;

$container-box-shadow: rgba(0, 0, 0, 0.176) 0px 16px 48px 0px;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$button-sm-width: 120px;
$button-m-width: 190px;
$button-l-width: 270px;
$button-full-width: 100%;
$button-box-shadow: 0 0 4px 2px rgba(82, 82, 82, 0.1);

$button-border-radius: 4px;

$responsive-width-medium: 768px;
$responsive-width-small: 480px;