@import '@/style/variables';

aside {
    width: $aside-width-open;
    height: 100%;
    background-color: $white;

    position: fixed;
    left: 0;
    top: 0;
    transition: all .3s;

    box-shadow: $box-shadow;
    z-index: 500;

    .aside-title {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 32px;
            margin-right: 6px;
            transition: all .1s;
        }

        i {
            font-size: 36px;
        }
    }

    .aside-buttons {
        width: 90%;
        height: calc(100% - 60px - 120px);

        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        .aside-button {
            width: 100%;
            padding: 10px 16px;
            margin: 8px 0;

            cursor: pointer;
            border-radius: 2px;

            display: flex;
            align-items: center;
            transition: all .1s;

            font-size: 14px;
        
            i {
                font-size: 22px;
                margin-right: 10px;
            }
        
            &:hover {
                color: $white;
                background-color: $primary;
                box-shadow: $button-box-shadow;
        
                i {
                    color: $white;
                }
            }
        }
    }

    .aside-extra {
        display: flex;
        height: 40px;
        justify-content: left;
        align-items: center;
        padding: 0 20px;
    }
}

.aside-closed {
    width: $aside-width-closed;

    .aside-title {
        h1 {
            display: none;
            margin: 0;
        }
    }

    .aside-buttons {
        .aside-button {
            width: 75%;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                margin: 0;
            }

            span {
                display: none;
            }
        }
    }

     .aside-extra {
        justify-content: center;
    }
}

@media screen and (max-width: $responsive-width-medium) {
    aside {
        .aside-buttons {
            height: calc(100% - 60px - 180px);

            .aside-button {
                font-size: 12px;
                padding: 10px 8px;
            }
        }
    }
    
    .aside-open {
        width: calc($aside-width-open - 10px);
        position: absolute;
        z-index: 500;
    }

    .aside-closed {
        position: absolute;
        width: calc($aside-width-closed - 10px);
    }
}

@media screen and (max-width: $responsive-width-small) {
    aside {
        position: absolute;
        left: -100%;
    }

    .aside-open {
        width: calc($aside-width-open + 40px);
        left: 0%;
    }

    .aside-title {
        padding-top: 60px;
    }
}